.App{
    text-align: center;
    font-family: Arial;
    
}

/* The answer selecteed by the user */
.selected {
    background-color: rgb(183, 0, 255);
}

/* The list of options */
.options {
    padding: 8px;
    border: 2px solid rgb(249, 56, 181);
    cursor: pointer;
    border-radius: 7px;

}

ul {
    list-style-type: none;
}

body{
    font-family: Verdana;
    font-size: 18px;
    background-color: #2980B9; 
    background: url("../img/background.jpg") center no-repeat; 
    background-size: cover;
}